Workflow/LinkedIn Content Creator Workflow.json
{
  "name": "LinkedIn Content Creator Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        176
      ],
      "id": "ecbd0aac-fb2b-4200-9114-f1beb8688f42",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -32
      ],
      "id": "f90284c5-c64c-41fd-893e-f859f7f62f84",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zUpfJvuBuuQQrM5A-kl7En4SjXiLGyDTkWCbfSFBThM",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zUpfJvuBuuQQrM5A-kl7En4SjXiLGyDTkWCbfSFBThM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zUpfJvuBuuQQrM5A-kl7En4SjXiLGyDTkWCbfSFBThM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        -32
      ],
      "id": "e867d0b7-c479-4304-a31e-f99f0d0b19e9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DaK6hhlmJx83NEmI",
          "name": "LinkedIn Posts"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"Search the web for: {{ $json.Topic }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -32
      ],
      "id": "e1b93b6b-5cc0-4783-a76b-e560e8759ba0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.results[0].content }}\n{{ $json.results[1].content }}\n{{ $json.results[2].content }}",
        "options": {
          "systemMessage": "=You are a **LinkedIn Content Creator AI Agent**.  \nYou will be given **3 articles**. Your task is to create a **concise, professional, and inspiring LinkedIn post** for entrepreneurs.\n\n---\n\n## 🛠 Standard Operating Procedures (SOPs)\n\n1. **Content Extraction**\n   - Read all 3 articles.  \n   - Identify the **top 3–4 key insights** that are most relevant to entrepreneurs (growth, innovation, leadership, resilience).  \n\n2. **Content Transformation**\n   - Paraphrase insights into **fresh, original sentences**.  \n   - Keep the post **7–8 sentences long**, focusing on clarity and impact.  \n   - Maintain a **professional + inspiring tone** (thought leader style).  \n\n3. **Styling**\n   - Use **1–2 emojis** to highlight or emphasize (avoid overuse).  \n   - Make sentences **short and scannable** (max 28 words each).  \n   - Ensure smooth flow: Problem ➝ Insight ➝ Inspiration ➝ Call-to-Action.  \n\n4. **Final Touch**\n   - End with a **thought-provoking question** or reflective statement.  \n   - Add **3–5 relevant hashtags** (startups, leadership, innovation, growth, entrepreneurship).  \n   - Output should be **formatted as a final LinkedIn post** — ready to publish.  \n\n---\n\n## ✅ Output Format:\n- Final LinkedIn Post (ready-to-publish text only).  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        512,
        -32
      ],
      "id": "83524e25-c205-49fa-8f7f-e01db8717ee3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        176
      ],
      "id": "0cd55810-ba10-4495-9f2c-f6fe863d72a0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DSUd300qpJcVFnVp",
          "name": "Demo RAG"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zUpfJvuBuuQQrM5A-kl7En4SjXiLGyDTkWCbfSFBThM",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zUpfJvuBuuQQrM5A-kl7En4SjXiLGyDTkWCbfSFBThM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zUpfJvuBuuQQrM5A-kl7En4SjXiLGyDTkWCbfSFBThM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status": "=Done",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        -32
      ],
      "id": "8893b03a-fd0d-40b5-ab26-eba58cec131b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DaK6hhlmJx83NEmI",
          "name": "LinkedIn Posts"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a923ce99-e32e-4709-ab5d-a9a69a0a579f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "702ecc84f22514192fa13b6ae642443b6ecf38acb05d7d2505e109aa4b0ad891"
  },
  "id": "x5uzWf0dWrBiPoAq",
  "tags": []
}